Rule 1: Anime memes only
With the exception of original art.

Rule 2: No low quality posts.
Crop your memes and make sure the text is readable. 
Posts asking to repost fall under this category.
Screenshots of manga panels are not memes, make it clear if you edit a manga panel.

Rule 3: No Politics
This is an anime subreddit, so please keep politics away from here.

Rule 4: Follow Reddit TOS
-No sexualizing minors.
-No brigading or harassing
-No animemes “war” posts
-No hate speech

Rule 5: No reposts
Refrain from reposting a meme that has been on this subreddit before.

Rule 6: No Karma whoring
Posts that ask for karma or upvotes directly or indirectly in any way will be removed.

Rule 7: No advertising
Avoid advertising any subreddit, Discord server or website, unless given permission by a mod.
(Joke comments with a subreddit’s name in them are allowed. I.e. “r/whooosh”)

Rule 8: No keyboard fights
You are allowed to discuss, but please keep it civil and understand that everyone has different opinions.

Rule 9: Bring the sauce
You should bring the sauce(source) of any spoiler or nsfw meme. This helps people know if the spoiler applies to them, and helps us determine what violates Reddit TOS.

Rule 10. Flair Accordingly
  Flair NSFW appropriately.
  --On NSFW: Not Safe For Work means exactly that. *Anything sexual or ecchi** must be flaired as such.
